.mpstart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  margin-bottom: 8px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}

.canvas {
  width: 640px;
  height: 480px;
  border-width: 1.2px;
  border-style: solid;
  transform: scaleX(-1);
}

.button {
  display: block;
  font-size: 16px;
}
