.mpstart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
  gap: 1rem;
}

.messageContainer > p {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

.canvas {
  transform: scaleX(-1);
}

.mpstart > button {
  margin-bottom: 8px;
}
